$light-gray-medium: #777777;
$light-bittersweet: #f56960;
$light-cinerous: #92817a;
$light-pastel-brown: #e3cdb3;
$light-pastel-blue: #b3d4ee;
$light-pastel-green: #84cacf;
$light-pastel-orange: #fab4af;
$light-pastel-yellow: #fff9a7;

$dark-gray-medium: #bbbbbb;
$dark-bittersweet: #f06b65;
$dark-cinerous: #a3988f;
$dark-pastel-brown: #c1b09a;
$dark-pastel-blue: #91bddf;
$dark-pastel-green: #5aa6ab;
$dark-pastel-orange: #d98f8a;
$dark-pastel-yellow: #e6e291;
