@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.tooltip-container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #4b5563 transparent transparent transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  color: #777;
}
